html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: helvetica, sans-serif;
    overflow: hidden;
}

main {
    --column-width: 15em;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: var(--column-width) 1fr;
    box-sizing: border-box;
}
